<section class="section4">
  <!-- LOGO SECTION -->
  <div class="partners">
    <div class="partner-title">
      <h3>Capital AM</h3>
      <p class="subtitle">Đồng hành cùng các đối tác tin cậy</p>
    </div>
    <div class="logo-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-01-1-png-20251116123231WbPknCazou.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-02-png-20251116123253C6nxMrRj0P.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-03-png-20251116123257UKosI7mqeb.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-04-png-20251116123259lrfcrXvVGM.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-05-png-20251116123304R4DWE2Us9q.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/dt-06-png-20251116123306yv8Tfee6uc.png"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../assets/img/section4/business-partner/1-png-202512101420111Ny253URmE.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
